.tree {
  margin: 30px !important;
}

.treeItemContent {
  display: flex;
  align-items: center;

  .itemAction {
    visibility: hidden;
    margin-left: 15px;

    &.rtl {
      margin-left: unset;
      margin-right: 15px;
    }
  }

  &:hover {
    .itemAction {
      visibility: visible;
    }
  }
}

.addPanel {
  display: flex;
  align-items: center;

  .addPanelIcon {
    text-align: right;
    left: 7px;
    position: relative;
    z-index: 1;

    &.rtl {
      text-align: left;
      left: unset;
      right: 7px;
    }
  }
}