.container {
  padding: 15px 10px 15px 10px;
  border: 1px solid !important;
  border-color: #F3F3F3 !important;
}

.recipientsContainer {
  margin-top: 20px;
}

.description {
  font-style: italic;
  padding-top: 10px;
}
