.anonymousHeader {
  padding: 50px 80px;
  padding-bottom: 20px;

  img {
    height: 50px;
  }
}

.content {
  flex: 1;
  display: flex;
}

.anonymousLayout {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}