.container {
    margin-bottom: 10px !important;

    .item {
        padding: 5px 0px;

        .title {
            color: #333;
            line-height: 1em;
            padding-bottom: 3px;
            padding-top: 3px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
        }

        .label {
            font-size: 12px;
            color: #6F6F6F;
        }

        &.selected {
            .title {
                border-bottom: 2px solid #C02C2C;
                cursor: default;
            }
        }

        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
    }
}
