.header {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    border-bottom: 1px solid #E0E0E0;

    .placeholder {
        flex: 1;
        display: flex;
        align-items: center;
    }
}

.toggleMenu {
  font-size: 18px;
  cursor: pointer;
  @media screen and (min-width: 600px) {
    display: none;
  }
}