.header {
    border-bottom: 2px solid #C02C2C;

    padding-left: 40px;
    padding-bottom: 5px;
    display: flex;

    .logo {
        flex: 1;
        margin-top: 40px;

        img {
            height: 50px;
        }
    }
}
