.header {
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: flex-end;

    .placeholder {
        flex: 1;
        display: flex;
        align-items: center;
    }

  @media screen and (max-width: 1279px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.toggleMenu {
  font-size: 20px;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.smallLogo{
  height: 21px;
  margin-left: 15px;

  @media screen and (min-width: 1280px) {
    display: none;
  }

  &.rtl {
    margin-left: 0;
    margin-right: 15px;
  }
}

.supervisorHeader {
  display: flex;
  width: 100%;
  justify-content: space-between
}

.logo {
  margin-top: 27px;
  display:inline-block;

  img {
    height: 38px;
  }
}