.layout {
    flex: 1;
    display: flex;
    flex-direction: row;

    .sideMenu {
        flex: 0 1 auto;
        display: flex;
    }

    .mainContent {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .pageContentContainer {
        flex: 1;
        overflow-y: auto;

        @media screen and (max-width: 1919px) {
          max-width: calc(100vw - 260px);
        }

        @media screen and (max-width: 1279px) {
          max-width: calc(100vw);
        }

        .pageContent {
          padding: 20px 35px;

          @media screen and (max-width: 1279px) {
              padding: 20px 20px;
          }
        }
    }
}

.loader {
    flex: 1 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.centeredLayoutMessage {
  flex: 1;
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
}

.fillPage {
  display: flex;
  flex-direction: column;
  flex: 1;
}