.selected > span {
  font-weight: 600;
}

.sideMenu {
  flex: 1;
  background: linear-gradient(90deg, #fafafa 90%, #f7f7f7 100%);
}

.sideMenuHeader {
  height: 80px;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    text-decoration: none;
  }

  .headerName {
    font-size: 32px;
    font-weight: 600;
    color: #454545;
    line-height: 1;
    margin-bottom: 5px;
  }

  .headerDescription {
    font-size: 14px;
    color: #999;
    line-height: 1;
  }
}

.list {
  padding: 0;

  .active {
    background: rgba(0, 0, 0, 0.08);
  }
}