.selected > span {
  font-weight: 600;
}

.sideMenu {
  flex: 1;
  width: 221px;
  background: linear-gradient(90deg, #f1f1f1 90%, #ececec);
}

.sideMenuHeader {
  height: 80px;
  border-bottom: 1px solid #d4d4d4;
  justify-content: left;

  .logo {
    margin-left: 35px;
    margin-top: 27px;
    display:inline-block;

    img {
      height: 38px;
    }
  }

  .logoDirectionRightToLeft {
    margin-right: 35px;
    margin-top: 27px;
    display:inline-block;

    img {
      height: 38px;
    }
  }
}

.list {
  .active {
    span {
      color: #424242;
    }

    background: rgba(0, 0, 0, 0.08);
  }
}


.drawer {
  @media screen and (min-width: 1280px) {
    width: 221px;
  }
}