.sideMenuHeader {
  height: 80px;
  border-bottom: 1px solid #d4d4d4;
  justify-content: left;

  .logo {
    margin-left: 35px;
    margin-top: 27px;
    display:inline-block;

    img {
      height: 38px;
    }
  }

  .logoDirectionRightToLeft {
    margin-right: 35px;
    margin-top: 27px;
    display:inline-block;

    img {
      height: 38px;
    }
  }
}

.drawer {
  z-index: 1;
  @media screen and (min-width: 1280px) {
    width: 221px;
  }
}