.tabMenu {
  margin-bottom: 20px;
}

.header {
  font-size: 24px !important;
  margin-bottom: 10px;
  font-weight: 600;

  @media screen and (max-width: 1279px) {
    font-size: 18px !important;
  }
}

.tabs {
  margin-bottom: 10px;
}