.topMenu {
    padding-top: 53px;

    a {
        margin-left: 20px;
        color: #333333;
        font-size: 16px;
        text-decoration: none;
        border-right: 1px solid #8C8C8C;
        padding: 8px 20px 8px 0;

        &:last-child {
            border-right: none;
        }
    }
}
