.topMenu {
    white-space: nowrap;

    a {
        color: #333333;
        text-decoration: none;
        border-right: 1px solid #8C8C8C;
        padding: 8px 20px;

        &:last-child {
            border-right: none;
        }

        &.active span {
          border-bottom: 2px solid #C02C2C;
          padding-bottom: 3px;
        }
    }

    @media screen and (max-width: 899px) {
      display: none;
    }
}
