.topMenu {
    a {
        color: #333333;
        text-decoration: none;
        border-right: 1px solid #8C8C8C;
        padding: 8px 20px;

        &:last-child {
            border-right: none;
        }
    }
}
