.numberName {
  flex: 2;
}

.numberValue {
  flex: 1;
  text-align: center;
  font-weight: 600;
}

.numberBox {
  display: flex;
}

.card {
  flex: 1;
  min-width: 200px;
  padding: 5px 16px;
  font-size: 16px;
}