.filterItem {
  width: 200px !important;
}

.filters {
  box-shadow: #fff 0px 5px 5px 5px !important;
  background-color: #ffff;
  border: solid black;
}

.filterDate {
  width: 155px;
}

.filterTitle {
  padding-bottom: 1px !important;
}

.collapsedFilterBar {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
}

.expandFilterButton {
  margin-left: auto !important;
  > button {
    transform: rotate(0deg);
    transition: transform 150ms;
    &[data-expanded="true"] {
      transform: rotate(180deg);
    }
  }

  &.rtl {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}

.radioGroup {
  padding-top: 5px;
}

.radio {
  height: 23px;
}