.filtersGrid {
  @media not all and (max-width: 900px) {
    position: sticky;
    top: -12px;
    z-index: 1001;
  }
}

.message {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}