.container {
  display: flex;
  margin: 10px 0;

  @media screen and (max-width: 1280px) {
      flex-direction: column;
  }
}

.key {
  width: 200px;
}

.value {
  font-weight: bold;
}

.form {
  display: block !important;
}

.time {
  font-weight: bold;
  align-self: center;

  @media screen and (max-width: 1280px) {
    width: 100px;
  }
}

.senderContainer {
  display: flex;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
    margin-left: 10px;
  }
}

.senderLabel {
  margin: 0 10px;
  white-space: nowrap;

  @media screen and (max-width: 1280px) {
    margin: 0;
  }
}

.sender {
  font-weight: bold;
}

.indicator {
  margin-right: 10px;
  align-self: center;
}

.accepted {
  color: #09c509;
}

.rejected {
  color: #e42d2d;
}

.reportStatus {
  font-weight: bold;
}