.fields {
  margin-top: 20px !important;
}

.escalateWithoutNotificationWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.escalateWithoutNotificationCheckbox {
  margin-left: 50px !important;
}