
.regular{
  border-radius: 6px !important;
  box-shadow: none !important;
  margin-right: 10px !important;
  color: #d23232 !important;
  background-color: #ffffff !important;
}

.regular:hover{
  background-color: #ffeeec !important;
}