.clickableRow {
  cursor: pointer;
}

.tableContainer {
  position: relative;

  @media screen and (max-width: 1280px) {
      overflow-x: scroll;
  }
}

.noDataInfo {
  display: flex;
  color: #a2a2a2;
}

.inactiveRow {
  @extend .clickableRow;
  >td{
    color: #a2a2a2;
  }
}

.stickyTable {
  table {
    border-collapse: separate !important;
  }

  th {
    z-index: 1;

    @media screen and (min-width: 1280px) {
        top: 0px !important;
        position: sticky;
        background: white;
    }
  }
}