.clickableRow {
  cursor: pointer;
}

.tableContainer {
  position: relative;

  @media screen and (max-width: 600px) {
      overflow-x: scroll;
  }
}

.noDataInfo {
  display: flex;
  color: #a2a2a2;
}