.icon_ReportingWithErrors {
  background-color: #d23232 !important;
  color: white;
}

.icon_ReportingCorrectly {
  background-color: #15ab15 !important;
  color: white;
}

.icon_NotReporting {
  background-color: #f1b713 !important;
  color: #525252;
}
