.filterItem {
  min-width: 200px !important;
}

.filters {
  box-shadow: #fff 0px 5px 5px 5px !important;
}

.filterRadioGroup {
  flex-direction: row !important;
  margin-top: 10px;
}

.filterLabel {
  font-weight: 400;
}