.MuiFormControlLabel-label::before {
  content: 'checked';
  font-family: 'Material Icons';
}

.MuiTypography-body1::before {
  content: 'checked';
  font-family: 'Material Icons';
}

.test {
  .MuiFormControlLabel-label::before {
    content: 'checked';
    font-family: 'Material Icons';
  }
  
  .MuiTypography-body1::before {
    content: 'checked';
    font-family: 'Material Icons';
  }


  content: 'checked';
  background-color: 'red';
  font-family: 'Material Icons';
}