.filterItem {
  min-width: 200px !important;
}

.filters {
  box-shadow: #fff 0px 5px 5px 5px !important;
}

.filterDate {
  width: 155px;
}

.trainingStateLabel {
  margin-top: 6px;
}

.trainingStateRadioGroup {
  flex-direction: row !important;
  margin-top: 10px;
}
