.cluster {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;

  &.valid {
    background: green;
  }

  &.invalid {
    background: #b35959;
  }
}