.recipient {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.recipientName {
  margin-right: auto !important;
}

.recipientNameSelect {
  margin-right: auto !important;
  flex: 1 0 auto;
  min-width: 220px;
  max-width: 220px;
}

.organizationField {
  min-width: 160px;
}