.recipient {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.nameContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.recipientDropdown {
  min-width: 220px;
}

.organizationField {
  padding-right: 20px;
}