.recipient {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.recipientName {
  max-width: 200px;
  min-width: 200px;
  padding-right: 3ch;
  font-weight: bold !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipientNameSelect {
  font-weight: bold !important;
  margin-right: 3ch;
  flex: 1 0 auto;
  min-width: 200px;
  max-width: 200px;
}

.organizationField {
  margin-right: auto !important;
  width: 310px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}