.tree {
  min-width: 500px;
  min-height: 300px;
}

.dropDown {
  max-height: 50vh !important;
}

.selected {
  >div {
    background: #dadada !important;
  }
}

.areaSelect {
  cursor: pointer !important;
}

.field {
  min-width: 300px;
}

.arrow {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}
