.filterItem {
  min-width: 200px !important;
}

.filterRadioGroup {
  flex-direction: row !important;
  margin-top: 10px;
}

.filterCheckboxGroup {
  max-height: 50px;
  padding-top: 5px;
}

.checkbox {
  height: 23px;
}

.radioGroup {
  padding-top: 5px;
}

.radio {
  height: 23px;
}

.noFlexWrap {
  flex-wrap: nowrap !important;
}
