:root {
  --selected-flag-padding: 0 0 0 8px;
  --flag-arrow-left: 20px;
  --flag-arrow-right: 0;
  --phone-input-padding-left: 48px;
  --phone-input-padding-right: 0;
  --selected-flag-option-margin-right: 7px;
  --selected-flag-option-margin-left: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        color: #333333;
        background-color: #FCFCFC;

        font-family: 'Arial';

        display: flex;

        #root {
            display: flex;
            flex: 1;
        }
    }
}

.leaflet-container {
  height: 400px;
  width: 100%;
  font-family: 'Arial';
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-fade-anim .leaflet-popup {
  transition: none;
}

.highcharts-container {
  width: 100% !important;

  svg {
    width: 100%;
  }
}

.ltr-numerals {
  direction: ltr;
}

.react-tel-input > .flag-dropdown > .selected-flag {
  padding: var(--selected-flag-padding);
}

.react-tel-input .selected-flag .arrow {
  left: var(--flag-arrow-left);
  right: var(--flag-arrow-right);
}

.react-tel-input .form-control {
  padding-left: var(--phone-input-padding-left) !important;
  padding-right: var(--phone-input-padding-right) !important;
  direction: ltr;
}

.react-tel-input .country-list .flag {
  margin-right: var(--selected-flag-option-margin-right) !important;
  margin-left: var(--selected-flag-option-margin-left);
}
