.tableHeader {
    @media not all and (max-width: 900px) {
        top: 110px !important;
    }
}

.message {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}