.loader {
  text-align: center;
  svg path,
  svg rect{
      fill: #C02C2C;
  }

  &.absolute {
    position: absolute;
    background: #ffffff94;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    > svg {
      left: 50%;
      top: 50%;
      position: absolute;
    }
  }
}
