.button {
  margin-left: 8px !important;
  border-radius: 6px !important;

  @media screen and (max-width: 599px) {
    margin-left: unset !important;
    margin-bottom: 8px !important;
  }
}

//.button:hover{
//  background-color: red !important;
//}

.progressIcon {
    position: absolute
}

.mobile {
  display: none;
}