.healthRisk {
  h6 {
    margin: 0px 0 10px;
  }

  .healthRiskTextArea {
    margin-top: 10px;
    word-break: break-word;
    -ms-word-break: break-word;
  }
}

.header {
  display: inline;

  &.healthRiskName {
    margin-left: 10px;

    &.rtl {
      margin-left: unset;
      margin-right: 10px;
    }
  }
}
