.alertNotificationsHeader {
  display: flex;
  align-items: center;
}

.helpIcon {
  margin-left: 10px;
}

.removeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}