.healthRiskItem{
    background-color: rgb(224, 224, 224);        
    margin-right: 5px;
    border-radius: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}